# QCEW Data Exploration

This notebook loads QCEW CSV files and examines the data structure, columns, and data types.

In [3]:
import pandas as pd
import os
from pathlib import Path
import sys
sys.path.append('../src')
from data_download import main as download_data

# Set up data directory
data_dir = Path('../data/raw')

# Check if data exists, if not, download
csv_files = list(data_dir.glob('*.csv'))
if not csv_files:
    print("No CSV files found. Downloading data...")
    download_data()
    csv_files = list(data_dir.glob('*.csv'))

# List all CSV files
print(f"Found {len(csv_files)} CSV files:")
for file in sorted(csv_files):
    print(f"  {file.name}")

# Load the first file to examine structure
if csv_files:
    sample_file = sorted(csv_files)[0]
    print(f"\nLoading sample file: {sample_file.name}")
    df = pd.read_csv(sample_file)
    
    print(f"\nData shape: {df.shape}")
    print(f"\nColumns: {list(df.columns)}")
    print(f"\nData types:\n{df.dtypes}")
    
    print(f"\nFirst 5 rows:")
    display(df.head())
    
    print(f"\nSummary statistics:")
    display(df.describe())
else:
    print("No CSV files found!")

Found 20 CSV files:
  qcew_06000_2020_q1.csv
  qcew_06000_2020_q2.csv
  qcew_06000_2020_q3.csv
  qcew_06000_2020_q4.csv
  qcew_06000_2021_q1.csv
  qcew_06000_2021_q2.csv
  qcew_06000_2021_q3.csv
  qcew_06000_2021_q4.csv
  qcew_06000_2022_q1.csv
  qcew_06000_2022_q2.csv
  qcew_06000_2022_q3.csv
  qcew_06000_2022_q4.csv
  qcew_06000_2023_q1.csv
  qcew_06000_2023_q2.csv
  qcew_06000_2023_q3.csv
  qcew_06000_2023_q4.csv
  qcew_06000_2024_q1.csv
  qcew_06000_2024_q2.csv
  qcew_06000_2024_q3.csv
  qcew_06000_2024_q4.csv

Loading sample file: qcew_06000_2020_q1.csv

Data shape: (3199, 42)

Columns: ['area_fips', 'own_code', 'industry_code', 'agglvl_code', 'size_code', 'year', 'qtr', 'disclosure_code', 'qtrly_estabs', 'month1_emplvl', 'month2_emplvl', 'month3_emplvl', 'total_qtrly_wages', 'taxable_qtrly_wages', 'qtrly_contributions', 'avg_wkly_wage', 'lq_disclosure_code', 'lq_qtrly_estabs', 'lq_month1_emplvl', 'lq_month2_emplvl', 'lq_month3_emplvl', 'lq_total_qtrly_wages', 'lq_taxable_qtrly_wages', 'lq_qtrly_contributions', 'lq_avg_wkly_wage', 'oty_disclosure_code', 'oty_qtrly_estabs_chg', 'oty_qtrly_estabs_pct_chg', 'oty_month1_emplvl_chg', 'oty_month1_emplvl_pct_chg', 'oty_month2_emplvl_chg', 'oty_month2_emplvl_pct_chg', 'oty_month3_emplvl_chg', 'oty_month3_emplvl_pct_chg', 'oty_total_qtrly_wages_chg', 'oty_total_qtrly_wages_pct_chg', 'oty_taxable_qtrly_wages_chg', 'oty_taxable_qtrly_wages_pct_chg', 'oty_qtrly_contributions_chg', 'oty_qtrly_contributions_pct_chg', 'oty_avg_wkly_wage_chg', 'oty_avg_wkly_wage_pct_chg']

Data types:
area_fips                            int64
own_code                             int64
industry_code                       object
agglvl_code                          int64
size_code                            int64
year                                 int64
qtr                                  int64
disclosure_code                     object
qtrly_estabs                         int64
month1_emplvl                        int64
month2_emplvl                        int64
month3_emplvl                        int64
total_qtrly_wages                    int64
taxable_qtrly_wages                  int64
qtrly_contributions                  int64
avg_wkly_wage                        int64
lq_disclosure_code                  object
lq_qtrly_estabs                    float64
lq_month1_emplvl                   float64
lq_month2_emplvl                   float64
lq_month3_emplvl                   float64
lq_total_qtrly_wages               float64
lq_taxable_qtrly_wages             float64
lq_qtrly_contributions             float64
lq_avg_wkly_wage                   float64
oty_disclosure_code                 object
oty_qtrly_estabs_chg                 int64
oty_qtrly_estabs_pct_chg           float64
oty_month1_emplvl_chg                int64
oty_month1_emplvl_pct_chg          float64
oty_month2_emplvl_chg                int64
oty_month2_emplvl_pct_chg          float64
oty_month3_emplvl_chg                int64
oty_month3_emplvl_pct_chg          float64
oty_total_qtrly_wages_chg            int64
oty_total_qtrly_wages_pct_chg      float64
oty_taxable_qtrly_wages_chg          int64
oty_taxable_qtrly_wages_pct_chg    float64
oty_qtrly_contributions_chg          int64
oty_qtrly_contributions_pct_chg    float64
oty_avg_wkly_wage_chg                int64
oty_avg_wkly_wage_pct_chg          float64
dtype: object

First 5 rows:

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,qtrly_estabs,month1_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,6000,0,10,50,0,2020,1,NaN,1604765,17609773,...,120120,0.7,18441242800,5.8,2458278545,2.9,72163997,2.0,58,4.1
1,6000,1,10,51,0,2020,1,NaN,3340,248885,...,5807,2.4,177793902,3.6,0,0.0,0,0.0,24,1.6
2,6000,1,101,52,0,2020,1,NaN,1,3,...,2,200.0,43851,146.8,0,0.0,0,0.0,-407,-17.7
3,6000,1,1013,53,0,2020,1,NaN,1,3,...,2,200.0,43851,146.8,0,0.0,0,0.0,-407,-17.7
4,6000,1,102,52,0,2020,1,NaN,3339,248882,...,5805,2.4,177750051,3.6,0,0.0,0,0.0,24,1.6

Summary statistics:

,area_fips,own_code,agglvl_code,size_code,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
count,3199.0,3199.000000,3199.000000,3199.0,3199.0,3199.0,3.199000e+03,3.199000e+03,3.199000e+03,3.199000e+03,...,3199.000000,3199.000000,3.199000e+03,3199.000000,3.199000e+03,3199.000000,3.199000e+03,3199.000000,3199.000000,3199.000000
mean,6000.0,4.079400,57.036261,0.0,2020.0,1.0,4.526205e+03,4.997075e+04,5.038483e+04,4.979685e+04,...,341.082213,1.786027,5.253064e+07,5.871210,6.909198e+06,5.707721,1.896026e+05,2.089997,43.964051,3.859206
std,0.0,1.406435,1.345527,0.0,0.0,0.0,5.389074e+04,4.946387e+05,4.987811e+05,4.922129e+05,...,4725.360532,30.465697,5.404051e+08,24.485398,7.645066e+07,92.147669,3.884892e+06,64.530005,319.158286,14.519247
min,6000.0,0.000000,50.000000,0.0,2020.0,1.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,-45348.000000,-100.000000,-1.042577e+09,-100.000000,-6.148020e+07,-98.400000,-1.613272e+07,-98.900000,-8718.000000,-100.000000
25%,6000.0,3.000000,56.000000,0.0,2020.0,1.0,1.900000e+01,3.065000e+02,3.010000e+02,2.960000e+02,...,-76.000000,-2.600000,0.000000e+00,0.000000,-2.961850e+04,-0.400000,-6.974000e+04,-5.700000,0.000000,0.000000
50%,6000.0,5.000000,57.000000,0.0,2020.0,1.0,1.350000e+02,2.948000e+03,2.993000e+03,2.926000e+03,...,0.000000,0.000000,1.013425e+06,3.600000,0.000000e+00,0.000000,0.000000e+00,0.000000,33.000000,3.100000
75%,6000.0,5.000000,58.000000,0.0,2020.0,1.0,8.190000e+02,1.485900e+04,1.502850e+04,1.466600e+04,...,122.000000,2.800000,1.173469e+07,8.200000,1.175854e+06,4.000000,2.240000e+02,0.100000,72.000000,6.000000
max,6000.0,8.000000,96.000000,0.0,2020.0,1.0,1.604765e+06,1.760977e+07,1.775621e+07,1.754568e+07,...,120120.000000,600.000000,1.844124e+10,387.400000,2.458279e+09,3585.000000,8.055678e+07,2086.900000,6134.000000,315.600000